@model VehicleDatabase.MVC.Models.DeleteManufacturerViewModel
@Html.HiddenFor(m => m.Id, new { @class = "delete-manufacturer-id"})
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete</h4>
        </div>
        <div class="modal-body">
            <p>This record will be <strong>deleted</strong> and cannot be recovered.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success delete-manufacturer-confirmed">Delete</button>
            <button type="button" class="btn btn-danger " data-dismiss="modal">Cancel</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
