<h2>Models</h2>
<div class="row">
    <form class="form-inline" ng-submit="searchReload()">
        <div class="col-lg-1">
            <label>Search by manufacturer </label>
        </div>
        <div class="col-sm-3">
            <manufacturers-dropdown manufacturer="manufacturer"></manufacturers-dropdown>
        </div>
        <label>Search by model </label>
        <input type="text" ng-model="searchString" class="form-control" />
        <button type="submit" class="btn btn-default ">Search</button>
    </form>
</div>
<div class="row">
    <button type="button" ng-click="addModelButton()" class="btn btn-primary pull-right">Add model</button>
</div>
<div class="row">
    <button type="button" ng-click="deleteMultipleRecords()" ng-show="selectedModelsIds.length > 0" class="btn btn-primary pull-left">Delete</button>
</div>
<div>
    <table class="table table-striped">
        <tr>
            <th>
                <input input type="checkbox" ng-model="selectAll" ng-click="checkAll()" />
            </th>
            <th>Manufacturer</th>
            <th>
                <a href="#" ng-click="setSorting('name', !reverseSort)">Name</a>
            </th>
            <th>
                <a href="#" ng-click="setSorting('abrv', !reverseSort)">Abbreviation</a>
            </th>
            <th>Edit</th>
            <th> Delete</th>
        </tr>
        <tr ng-repeat="model in models">
            <td>
                <input type="checkbox" ng-click="modelChecked(model)" ng-model="model.checked"  class="form-check-input">
            </td>
            <td>
                {{model.make.name}}
            </td>
            <td>
                {{model.name}}
            </td>
            <td>
                {{model.abrv}}
            </td>
            <td>
                <button type="button" ng-click="editModel(model)" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
            <td>
                <button type="button" ng-click="deleteModelModal(model)" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
    <ul uib-pagination total-items="totalItemsCount" ng-model="page" ng-change="pageChanged()"></ul>
</div>